//base styles for everything that isn't width specific

* {
	@include border-box();
}

html, body {
	height: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

body {
	font-size: 16px;
	line-height: 1.5rem;
	font-family: "Droid Sans", sans-serif;
}

/*===========================
COLOURS
============================*/

$d_blue: #39455A;
$blue: #136A8A;
$swamp_blue: #267871;
$d_turq: #408385;
$gradient_opacity: 0.8;

/*===========================
TYPOGRAPHICAL SETTINGS (2:5 TYPOGRAPHIC SCALE)
============================*/

$base-font-size: 1rem;
$base-line-height: 1.5rem;
$measure: 760px;

$h1-font-size: 3.375rem;
$h1-line: 1.5rem;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

$h2-font-size: 2.25rem;
$h2-line: 1.5rem;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

$h3-font-size: 1.5rem;
$h3-line: 1.5rem;
$h3-lines: 1;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

$h4-font-size: 1rem;
$h4-line: 1.5rem;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;

/*===========================
TYPOGRAPHY
============================*/

.h1,.h2,.h3,.h4 {
	font-weight: 700;
}

.h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin: $h1-margin-top 0 $h1-margin-bottom 0;
}

.h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	margin: $h2-margin-top 0 $h2-margin-bottom 0;
}

.h3 {
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	margin: $h3-margin-top 0 $h3-margin-bottom 0;
}

.h4 {
	font-size: $h4-font-size;
	line-height: $h4-line-height;
	margin: $h4-margin-top 0 $h4-margin-bottom 0;
}

p {
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: $h4-margin-top 0 $h4-margin-bottom 0;
}

ul,ol {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

a {
	text-decoration: none;
	color: $swamp_blue;
}

/*===========================
SIZE PRIMITIVES & BLOCKS
============================*/

// BEM = Block, Element, Modifier
// element = __
// modifier = --

.section {
	@include clearfix();
}

.section--padded {
	padding: 50px 0;
}

.container {
	width: columns(12);
	margin: 0 auto 0 auto;
	max-width: 1020px;
	@include clearfix();
	padding: 0 20px;
}

.hero--full {
	height: 100%;
}

.hero__title {
	margin-top: 1.5rem;

	.h2 {
		margin-bottom: 10px;
	}
}

.hero__subtitle {
	margin-top: 0;
	color: rgba(255,255,255,0.8);
}

.background--mountains {
	background: url('../media/mountains.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.full {
	width: columns(12);
}

.three-quarters {
	width: columns(12);
}

.half {
	width: columns(12);
}

.third {
	width: columns(12);	
}

.quarter {
	width: columns(12);
}

//stops imgs breaking out their parent container
img {
	max-width: 100%;
}

//This holds and image, use text align to center the image because images are display inline by default
.media-holder {
	text-align: center;
}

/*===========================
LAYOUT HELPERS & TEXT MODIFIERS
============================*/

.left {
	float: left;
}

.right {
	float: right;
}

.align-center {
	text-align: center;
}

.text--white {
	color: #fff;
}

.push-down {
	margin-top: 100px;
}

/*===========================
MAIN THEME
============================*/

.main {
	height: 100%;
	width: 100%;
	@include transition(all 0.5s);
	@include transform(translateX(0));
	position:fixed;
	top:0;
	left:0;
	overflow-y: scroll;
}

.btn--menu {
	margin-top: 25px;
	width: 20px;
	cursor: pointer;
}

.gradient-overlay {
	background: -webkit-linear-gradient(180deg, rgba(19, 106, 138, $gradient_opacity) 10%, rgba(38, 120, 113, $gradient_opacity) 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(180deg, rgba(19, 106, 138, $gradient_opacity) 10%, rgba(38, 120, 113, $gradient_opacity) 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(180deg, rgba(19, 106, 138, $gradient_opacity) 10%, rgba(38, 120, 113, $gradient_opacity) 90%); /* IE10 */
	background:      -o-linear-gradient(180deg, rgba(19, 106, 138, $gradient_opacity) 10%, rgba(38, 120, 113, $gradient_opacity) 90%); /* Opera 11.10+ */
	background:         linear-gradient(180deg, rgba(19, 106, 138, $gradient_opacity) 10%, rgba(38, 120, 113, $gradient_opacity) 90%); /* W3C */

	height: 100%;
	width: 100%;
	padding: 50px 0;
}

.nav-options {
	margin-top: 100px;
}

.nav-option {
	height: 150px;
	padding: 20px 0;
}

.menu {
	height: 100%;
	width: 240px;
	background: $d_blue;
	position:fixed;
	top:0;
	right:0;
	overflow-y: scroll;

	ul {
		padding: 0 0 0 0;
		margin: 0 0 0 0;

		li {
			list-style: none;

			a {
				display: block;
				padding: 20px;
				margin: 0 0 0 0;
				color:rgba(255,255,255,0.3);
				@include transition(color 0.3s);

				&:hover {
					color:#fff;
				}			
			}
		}
	}

	&.open ~ .main {
		@include transform(translateX(-240px));
	}
}

.menu__title {
	padding: 15px 20px;
	color: rgba(255,255,255,0.3);
	margin: 0 0 0 0;
	border-bottom: 1px solid rgba(255,255,255,0.08);
}
