@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

body {
  font-size: 16px;
  line-height: 1.5rem;
  font-family: "Droid Sans", sans-serif; }

/*===========================
COLOURS
============================*/
/*===========================
TYPOGRAPHICAL SETTINGS (2:5 TYPOGRAPHIC SCALE)
============================*/
/*===========================
TYPOGRAPHY
============================*/
.h1, .h2, .h3, .h4 {
  font-weight: 700; }

.h1 {
  font-size: 3.375rem;
  line-height: 4.5rem;
  margin: 3rem 0 1.5rem 0; }

.h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin: 3rem 0 1.5rem 0; }

.h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 1.5rem 0 1.5rem 0; }

.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.5rem 0 1.5rem 0; }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.5rem 0 1.5rem 0; }

ul, ol {
  padding: 0 0 0 0;
  margin: 0 0 0 0; }

a {
  text-decoration: none;
  color: #267871; }

/*===========================
SIZE PRIMITIVES & BLOCKS
============================*/
.section:before, .section:after {
  content: " ";
  display: table; }
.section:after {
  clear: both; }

.section--padded {
  padding: 50px 0; }

.container {
  width: 100%;
  margin: 0 auto 0 auto;
  max-width: 1020px;
  padding: 0 20px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.hero--full {
  height: 100%; }

.hero__title {
  margin-top: 1.5rem; }
  .hero__title .h2 {
    margin-bottom: 10px; }

.hero__subtitle {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.8); }

.background--mountains {
  background: url("../media/mountains.jpg") 50% 50% no-repeat;
  background-size: cover; }

.full {
  width: 100%; }

.three-quarters {
  width: 100%; }

.half {
  width: 100%; }

.third {
  width: 100%; }

.quarter {
  width: 100%; }

img {
  max-width: 100%; }

.media-holder {
  text-align: center; }

/*===========================
LAYOUT HELPERS & TEXT MODIFIERS
============================*/
.left {
  float: left; }

.right {
  float: right; }

.align-center {
  text-align: center; }

.text--white {
  color: #fff; }

.push-down {
  margin-top: 200px; }

/*===========================
MAIN THEME
============================*/
.main {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll; }

.btn--menu {
  margin-top: 25px;
  width: 20px;
  cursor: pointer; }

.gradient-overlay {
  background: -webkit-linear-gradient(180deg, rgba(19, 106, 138, 0.8) 10%, rgba(38, 120, 113, 0.8) 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, rgba(19, 106, 138, 0.8) 10%, rgba(38, 120, 113, 0.8) 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(180deg, rgba(19, 106, 138, 0.8) 10%, rgba(38, 120, 113, 0.8) 90%);
  /* IE10 */
  background: -o-linear-gradient(180deg, rgba(19, 106, 138, 0.8) 10%, rgba(38, 120, 113, 0.8) 90%);
  /* Opera 11.10+ */
  background: linear-gradient(180deg, rgba(19, 106, 138, 0.8) 10%, rgba(38, 120, 113, 0.8) 90%);
  /* W3C */
  height: 100%;
  width: 100%;
  padding: 50px 0; }

.nav-options {
  margin-top: 100px; }

.nav-option {
  height: 150px;
  padding: 20px 0; }

.menu {
  height: 100%;
  width: 240px;
  background: #39455A;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll; }
  .menu ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
    .menu ul li {
      list-style: none; }
      .menu ul li a {
        display: block;
        padding: 20px;
        margin: 0 0 0 0;
        color: rgba(255, 255, 255, 0.3);
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -o-transition: color 0.3s;
        -ms-transition: color 0.3s;
        transition: color 0.3s; }
        .menu ul li a:hover {
          color: #fff; }
  .menu.open ~ .main {
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px); }

.menu__title {
  padding: 15px 20px;
  color: rgba(255, 255, 255, 0.3);
  margin: 0 0 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

@media screen and (min-width: 1020px) {
  .quarter {
    width: 25%; }

  .third {
    width: 33.33333%; } }

/*# sourceMappingURL=style.css.map */
