{# font page.twig #}
{% extends 'base.twig' %}
{% block content %}
<section class="section hero hero--full" style="background: url({{ page.thumbnail.src('HD')}}) 50% 50% no-repeat;background-size: cover;">
	<div class="gradient-overlay">
		<div class="container">
			<h1 class="logo h3 text--white left">Tom Searle</h1>
			<div class="btn--menu right">
				<img src="{{ theme.uri }}/media/hamburger.svg" alt="">
			</div>
		</div>
		<div class="container section--padded push-down">
			<div class="hero__title align-center">
				<h2 class="h2 text--white">Javascript Game Enthusaist</h2>
				<p class="hero__subtitle">We should hangout sometime ;)</p>
			</div>
		</div>
		<div class="container section--padded nav-options">
			<div class="nav-option quarter left align-center">
				<a href="#" class="text--white">About Me</a>
			</div>
			<div class="nav-option quarter left align-center">
				<a href="{{ site.url }}/portfolio" class="text--white">Portfolio</a>
			</div>
			<div class="nav-option quarter left align-center">
				<a href="#" class="text--white">Contact</a>
			</div>
			<div class="nav-option quarter left align-center">
				<a href="#" class="text--white">Blog</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}