{# page-portfolio.twig template #}
{% extends 'base.twig' %}
{% block content %}
<div class="container">
	{% if portfolio %}
		{% for item in portfolio %}
			<div class="portfolio-item left third">
				<div class="media-holder">
					<img src="{{ item.thumbnail.src }}" alt="{{ item.title }}">
					<a href="{{ item.permalink }}"><p>{{ item.title }}</p></a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h1 class="h2 align-center">Sorry I have no portfolio items right now</h1>
	{% endif %}
</div>
{% endblock %}